body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #f06, #6f0, #06f, #f06);
  background-size: 400% 400%;
  animation: gradientAnimation 4s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.197);
  /* Adjust the alpha (0.3) for the transparency you desire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Optional shadow for a glass-like effect */
}

.hand {
  position: absolute;
  background-color: #000;
  transform-origin: 0 50%;
}

#hour {
  height: 6px;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translateX(-100%) rotate(90deg);
}

#minute {
  height: 4px;
  width: 45%;
  top: 50%;
  left: 50%;
  transform: translateX(-100%) rotate(90deg);
}

#second {
  height: 2px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-100%) rotate(90deg);
  background-color: red;
}

.hour-number {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
}

.minute-line {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #000;
  top: 0;
  transform: translateY(100%);
}

#digital-time {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
