body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }

  .card {
    width: 300px;
    height: 400px;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }

  .card:hover .card-inner {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;

    border: 1px solid black;
    border-radius: 10px;
  }

  .card-front {
    background-image: linear-gradient(
      to right bottom,
      red,
      rgb(0, 204, 255),
      green,
      orange
    );
    color: white;
    padding: 10px;
    animation: frontCardLight 1s linear infinite;
    margin-left: -15px;
  }

  @keyframes frontCardLight {
    0% {
      box-shadow: #3ca5e7 0px 0px 40px;
      background-image: linear-gradient(
        to right bottom,
        red,
        rgb(0, 204, 255),
        green,
        orange
      );
    }
    20% {
      box-shadow: #f815a5 0px 0px 30px;
      background-image: linear-gradient(
        to right bottom,
        rgb(0, 255, 153),
        rgb(21, 0, 255),
        green,
        rgb(255, 0, 247)
      );
    }
    40% {
      box-shadow: #05f529 0px 0px 30px;
      background-image: linear-gradient(
        to right bottom,
        red,
        rgb(0, 204, 255),
        green,
        orange
      );
    }
    60% {
      box-shadow: #533ce7 0px 0px 30px;
      background-image: linear-gradient(
        to right bottom,
        rgb(229, 255, 0),
        rgb(38, 110, 128),
        rgb(233, 120, 28),
        rgb(0, 255, 42)
      );
    }
    80% {
      box-shadow: #ef0d0d 0px 0px 30px;
      background-image: linear-gradient(
        to right bottom,
        red,
        rgb(0, 204, 255),
        green,
        orange
      );
    }
    100% {
      box-shadow: #301ef4 0px 0px 30px;
      background-image: linear-gradient(
        to right bottom,
        rgb(245, 217, 7),
        rgb(255, 0, 212),
        rgb(9, 230, 9),
        rgb(255, 0, 0)
      );
    }
  }
  .card-back {
    border: 1px solid black;
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
    transition: 1s;
    box-shadow: inset 0 0 0 0 transparent;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    margin-left: -20px;
  }
  .card-back h1 {
    color: goldenrod;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .card-back h5 {
    margin: 0px;
  }
  .card-back p {
    color: #ccc;
  }
  .card-back:hover {
    animation: BackCardLight 1s infinite;
  }
  @keyframes BackCardLight {
    0% {
      box-shadow: #3ca5e7 0px 0px 50px inset, 0px 0px 40px red;
    }
    20% {
      box-shadow: #f815a5 0px 0px 50px inset, 0px 0px 40px green;
    }
    40% {
      box-shadow: #05f529 0px 0px 50px inset, 0px 0px 40px palevioletred;
    }
    60% {
      box-shadow: #533ce7 0px 0px 50px inset, 0px 0px 40px goldenrod;
    }
    80% {
      box-shadow: #ef0d0d 0px 0px 50px inset, 0px 0px 40px greenyellow;
    }
    100% {
      box-shadow: #301ef4 0px 0px 50px inset, 0px 0px 40px lawngreen;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
  }